body{
  font-size: 1.4rem;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr;
  background-color: gold;
}


/* main */

.main-contents{
  margin: auto;
  position: relative;
  width: 5000px;
  height: 3000px;
  overflow: scroll;
  background-image: url("./Image/2.jpg");
}
.example{
  position: relative;
  top:0px;
  left:1400px;
  width: 3500px;
  height: 3000px;
  overflow: scroll;
  background-color: gold;
}
.example2{
  position: relative;
  width: 3500px;
  height: 5000px;
  overflow: scroll;
  background-image: url("./Image/3.jpg");
}
.nakami{
  top:1900px;
  left:1600px;
  position: relative;
  width: 1900px;
  height: 400px;
  overflow: scroll;
  background-color: gold;
}
.nakami2{
  position: relative;
  left: 0px;
  width: 1900px;
  height: 1000px;
  overflow: scroll;
  background-image: url("./Image/5.jpg");
}
.end1{
  position: relative;
  left: 1500px;
  top:100px;
  width: 360px;
  height: 260px;
  overflow: scroll;
  background-color: gold;
}
.end1_2{
  position: relative;
  
  width: 360px;
  height: 700px;
  overflow: scroll;
  background-image: url("./Image/8.jpg");
}
.end1_2:hover{
  background-image: url("./Image/7.jpg");
}
.end2{
  position: relative;
  left: 1500px;
  top:130px;
  width: 360px;
  height: 260px;
  overflow: scroll;
  background-color: gold;
}
.end2_2{
  position: relative;
  width: 360px;
  height: 700px;
  overflow: scroll;
  background-image: url("./Image/11.jpg");
}
.end2_2:hover{
  background-image: url("./Image/9.jpg");
}
.nakami_ue{
  top:1000px;
  left:1600px;
  position: relative;
  width: 2000px;
  height: 400px;
  overflow: scroll;
  background-color: gold;
}
.nakami_ue2{
  position: relative;
  left: 0px;
  width: 2000px;
  height: 1000px;
  overflow: scroll;
  background-image: url("./Image/13.jpg");
}
.end3{
  position: relative;
  left: 1500px;
  top:100px;
  width: 360px;
  height: 260px;
  overflow: scroll;
  background-color: gold;
}
.end3_2{
  position: relative;
  
  width: 360px;
  height: 700px;
  overflow: scroll;
  background-image: url("./Image/8.jpg");
}
.end3_2:hover{
  background-image: url("./Image/14.jpg");
}
.end3{
  position: relative;
  left: 1500px;
  top:90px;
  width: 360px;
  height: 260px;
  overflow: scroll;
  background-color: gold;
}
.end3_2{
  position: relative;
  
  width: 360px;
  height: 700px;
  overflow: scroll;
  background-image: url("./Image/15.jpg");
}
.end3_2:hover{
  background-image: url("./Image/14.jpg");
}
.end4{
  position: relative;
  left: 1500px;
  top:110px;
  width: 360px;
  height: 270px;
  overflow: scroll;
  background-color: gold;
}
.end4_2{
  position: relative;
  width: 360px;
  height: 700px;
  overflow: scroll;
  background-image: url("./Image/17.jpg");
}
.end4_2:hover{
  background-image: url("./Image/16.jpg");
}
.nakami_shita{
  top:1700px;
  left:700px;
  position: relative;
  width: 3000px;
  height: 300px;
  overflow: scroll;
  background-color: gold;
}
.nakami_shita2{
  position: relative;
  left: 0px;
  width: 3000px;
  height: 1000px;
  overflow: scroll;
  background-image: url("./Image/21.jpg");
}
.nakami_shita2:hover{
  background-image: url("./Image/20.jpg");
}
.nakami_shita_2{
  left:500px;
  position: relative;
  width: 2500px;
  height: 350px;
  overflow: scroll;
  background-color: gold;
}
.nakami_shita_2_2{
  position: relative;
  left: 0px;
  width: 2500px;
  height: 1000px;
  overflow: scroll;
  background-image: url("./Image/23.jpg");
}
.nakami_shita_2_2:hover{
  background-image: url("./Image/22.jpg");
}
.nakami_shita_3{
  left:500px;
  position: relative;
  width: 2000px;
  height: 350px;
  overflow: scroll;
  background-color: gold;
}
.nakami_shita_3_2{
  position: relative;
  width: 2000px;
  height: 1000px;
  overflow: scroll;
  background-image: url("./Image/25.jpg");
}
.nakami_shita_3_2:hover{
  background-image: url("./Image/24.jpg");
}
.nakami_shita_4{
  left:500px;
  position: relative;
  width: 1500px;
  height: 350px;
  overflow: scroll;
  background-color: gold;
}
.nakami_shita_4_2{
  position: relative;
  width: 1500px;
  height: 1000px;
  overflow: scroll;
  background-image: url("./Image/27.jpg");
}
.nakami_shita_4_2:hover{
  background-image: url("./Image/26.jpg");
}
.nakami_shita_5{
  left:500px;
  position: relative;
  width: 1000px;
  height: 350px;
  overflow: scroll;
  background-color: gold;
}
.nakami_shita_5_2{
  position: relative;
  width: 1000px;
  height: 1000px;
  overflow: scroll;
  background-image: url("./Image/29.jpg");
}
.nakami_shita_5_2:hover{
  background-image: url("./Image/28.jpg");
}
.nakami_shita_6{
  left:500px;
  position: relative;
  width: 500px;
  height: 350px;
  overflow: scroll;
  background-color: gold;
}
.nakami_shita_6_2{
  position: relative;
  width: 500px;
  height: 1000px;
  overflow: scroll;
  background-image: url("./Image/31.jpg");
}
.nakami_shita_6_2:hover{
  background-image: url("./Image/30.jpg");
}

