body{
  font-size: 1.4rem;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr;
  background-color: yellow;
}


/* main */

.main-contents{
  margin: auto;
  position: relative;
  width: 5000px;
  height: 3000px;
  overflow: scroll;
  background-image: url("./Image/2.jpg");
}
.example{
  position: relative;
  top:0px;
  left:1400px;
  width: 3600px;
  height: 3000px;
  overflow: scroll;
  background-color: palevioletred;
}
.example2{
  position: relative;
  width: 3500px;
  height: 5000px;
  overflow: scroll;
  background-image: url("./Image/3.jpg");
}
.nakami{
  top:1900px;
  left:1600px;
  position: relative;
  width: 2000px;
  height: 400px;
  overflow: scroll;
  background-color: black;
}
.nakami2{
  position: relative;
  left: 0px;
  width: 2000px;
  height: 1000px;
  overflow: scroll;
  background-image: url("./Image/5.jpg");
}
.end1{
  position: relative;
  left: 1500px;
  top:100px;
  width: 360px;
  height: 260px;
  overflow: scroll;
  background-color: black;
}
.end1_2{
  position: relative;
  
  width: 360px;
  height: 700px;
  overflow: scroll;
  background-image: url("./Image/8.jpg");
}
.end1_2:hover{
  background-image: url("./Image/7.jpg");
}
.end2{
  position: relative;
  left: 1500px;
  top:130px;
  width: 360px;
  height: 260px;
  overflow: scroll;
  background-color: black;
}
.end2_2{
  position: relative;
  width: 360px;
  height: 500px;
  overflow: scroll;
  background-color: darkmagenta;
}


